<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top animated fadeIn" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">profile</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid mx-auto mb-2" src="../../assets/img/nachokids-logo_1.png" alt="" />
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <h6>MI MENÚ:</h6>
        <a class="btn btn-outline-primary back" [routerLink]="['/selecttimekids']">Escribir Nuevo Cuento</a>
        <br />
        <a class="btn btn-outline-primary back" [routerLink]="['/tipskids']">School <span class="k"> K</span><span
            class="i">i</span><span class="d">d</span><span class="s">s</span> !</a>
        <br />
        <a class="btn btn-outline-primary back" (click)="volverMenu()">Volver a Mi Menú</a>
        <br />
        <span class="interliner">🔸</span>
        <br />
        <a class="btn btn-outline-primary back salir" [routerLink]="['']">SALIR</a>
      </ul>
    </div>
  </nav>
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <section>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto animated fadeIn slow ">
                <div class="info-heading-todos d-flex ">
                  <!-- sección cabecera info -->
                  <section class="col-7 info-todos">
                    <h3>TODOS LOS AUTORES</h3>

                    <p>
                      👉 <span class="nrel">Recuerda: <br /></span> Cada
                      propuesta es flexible. Puedes utilizar toda la información
                      de las propuestas o solo aquella que te inspiren o que se
                      ajusten mejor a tu relato.
                    </p>
                    <p>
                      👉
                      <span class="nrel">Asignación de estrellas: <br /></span>
                      <br />
                      - 1 ⭐ con un cuento de 5 minutos. <br />
                      - 2 ⭐ ⭐ con un cuento de 15 minutos. <br />
                      - 3 ⭐ ⭐ ⭐ con un cuento de tiempo ilimitado
                      <br />
                      <br />¡Con 20 estrellas recibirás un fantástico regalo 🎁
                      !
                    </p>
                    <br />
                    <p>¡A escribir!</p>
                  </section>

                  <section class="col-5 info-todos info-marco">
                    <h4 class="nrel">
                      Total cuentos Become a Writer <span class="k">K</span><span class="i">i</span><span
                        class="d">d</span><span class="s">s</span>
                    </h4>
                    <h2 class="data">{{ arraytodosrelatosBe?.total }}</h2>
                    <br />
                    <h4 class="nrel">Nº Paises Becomer´s</h4>
                    <h2 class="data">{{ arraytodospaises?.totalpaises }}</h2>
                    <br />
                    <h4 class="nrel">Nº cuentos en el Mundo / categorías:</h4>

                    <div class="cat-info">
                      <div class="cat-global col-4">
                        <p>5 min</p>
                        <p class="datatot">{{ arraytodosrelatos5?.total }}</p>
                      </div>
                      <div class="cat-global col-4">
                        <p>15 min</p>
                        <p class="datatot">{{ arraytodosrelatos15?.total }}</p>
                      </div>
                      <div class="cat-global col-4">
                        <p>Ilimitado</p>
                        <p class="datatot">
                          {{ arraytodosrelatosIlim?.total }}
                        </p>
                      </div>
                    </div>
                  </section>
                </div>
                <!-- Tabla todos relatos publicados -->
                <h3 class="md-5 ">
                  Últimos cuentos publicados en Become a Writer
                  <span class="k"> K</span><span class="i">i</span><span class="d">d</span><span class="s">s</span>:
                </h3>
                <div class="row">
                  <div class="col-md-12 d-flex ">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="table-me table-striped">
                          <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Categoría</th>
                            <th>Cuento</th>
                            <th>Fecha</th>
                            <th>Asignada ⭐</th>
                          </tr>
                        </thead>
                        <tbody id="misrelatos">
                          <tr *ngFor="let relatos of arrayRelatos | paginate: {id: 'duplicate', itemsPerPage: 6, currentPage: pageActual, totalItems: totalItems}">
                            <td>{{ relatos.titulo }}</td>
                            <td>{{ relatos.usuario }}</td>
                            <td>{{ relatos.categoria }} min</td>

                            <td>
                              <a class="colored" [routerLink]="['/readstorykids', relatos.id]">Leer</a>
                            </td>
                            <td>{{ relatos.fecha | date }}</td>
                            <td class="star">{{ relatos.puntaje }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</body>