body {
  padding-top: 54px;
  color: #868e96;
}
.info-heading-todos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
span.nrel,
h4.nrel {
  color: #a53392;
  text-transform: none;
}
.table td.star {
  text-align: center;
  font-size: 23px;
}
p {
  font-size: 17px;
}

.info-marco {
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}
.info-marco h4 {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-transform: inherit;
}
.info-todos p {
  padding: 0.5em 0;
}
.data {
  text-align: center;
  background: var(--main-background-deg);
  color: #f2f2f2;
}
.cat-info {
  display: flex;
  justify-content: center;
}

.datatot {
  text-align: center;
  font-size: 22px;
  color: rgb(49, 35, 174);
}

a.salir {
  background: #95a0aa;
}
/* Pagination */

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #e82172ad;
  opacity: 0.85;
  font-size: 13px;
}
.my-pagination ::ng-deep .ngx-pagination li {
  font-size: 13px;
}

.my-pagination li {
  border-radius: 2px;
}

@media (max-width: 992px) {
  .fixed-top {
    display: none;
  }
}
@media (max-width: 992px) {
  .fixed-top {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h6 {
  color: #f2f2f2;
  margin-bottom: 4%;
}
h1 {
  font-size: 2rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.5rem;
  padding: 2% 0;
  text-transform: unset;
}
.back {
  color: white;
}

.table td {
  font-size: 19px;
}

a.back {
  color: white;
}

.back:hover {
  color: #484848;
  background: #f2f2f2;
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;

  font-size: 1.35rem;
}

.list-social-icons a {
  color: #f2f2f2;
}

.list-social-icons a:hover {
  color: #611c55;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #bd5d38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.rev {
  margin: 3% auto;
}
section.resume-section {
  border-bottom: 1px solid #dee2e6;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}
.table-me {
  background: var(--main-background-deg);
  opacity: 0.75;
}
.table-me tr th {
  color: white;
  font-size: 17px;
  font-weight: 800;
}
.cat-global p {
  text-align: center;
}
a.colored {
  color: #204d74;
}
.bg-custom {
  background: var(--main-background-deg);
  height: 100vh;
}

.text-primary {
  color: #a53392 !important;
}
span.k {
  color: #389b53;
}

span.i {
  color: #f56596;
}
span.d {
  color: #ddd34e;
}
span.s {
  color: #869ccb;
}
a {
  color: #bd5d38;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}
.btn-user {
  margin: 0 1em;
}
