<h3 mat-dialog-title class="titleHeader">
  <div class="d-flex">
    <span class="d-flex justify-content-center">{{title}}</span>
  </div>
  <mat-divider class="headerDivider"></mat-divider>
</h3>
<div mat-dialog-content class="dialogContent">
  <div class="contentDiv">
    <form [formGroup]="endWriteForm">
    <mat-radio-group formGroupName="type" required [value]='this.selectedRadio' (change)="onChange($event)" >
      <div>
        <mat-radio-button  value="tosave"></mat-radio-button>
        <span>{{body}}</span>
      </div>
      <br>
      <div>
        <mat-radio-button value="tochallenge"></mat-radio-button>
        <span>{{body2}}</span>
      </div>
    </mat-radio-group>
  </form>
  </div>
  <mat-divider></mat-divider>
  <div class="text-center buttonContainer">
    <button mat-button (click)="accept()" [disabled]="!endWriteForm.valid" class="modal-button">ACEPTAR</button>
  </div>
</div>