img {
  margin-top: 5em;
  width: 100%;
}
.imagen {
  padding: 2em;
}
.texto {
  padding: 2em;
}
ul li {
  line-height: 28px;
  padding: 2% 0;
}

@media (max-width: 768px) {
  .texto {
    order: 1;
  }
  .imagen {
    order: 2;
  }
}
