<section id="beawriter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 imagen">
        <img src="../../assets/img/hero-4.png" alt="books-holding-on-hand" />
      </div>

      <div class="col-lg-6 texto ">
        <h2 class="section-heading text-center">¿Qué es Become a Writer?</h2>
        <ul>
          <li>
            👉 Somos una
            <span class="enfasis">aplicación web de escritura creativa </span>
            que impulsar tus mejores relatos
          </li>
          <li>👉 Para todos los niveles</li>
          <li>
            👉 Entrena y desarrolla tu creatividad y destreza para escribir
            historias de ficción
          </li>
          <li>
            👉 Tus límites serán el <span class="enfasis">tiempo </span> y tu
            propia <span class="enfasis">imaginación.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
