#map {
  padding-bottom: 5%;
}
agm-map {
  height: 400px;
  width: 100%;
}
.mapping {
  border-radius: 6px;
  border: 3px solid #f5b5e2;
}
.back-deg {
  background-image: url(../../../assets/img/hero-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rules {
  color: #f2f2f2;
}
