<!-- <app-preloader></app-preloader> -->

<body id="page-top">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <a class="navbar-brand js-scroll-trigger">
        <span class="d-none d-lg-block">
          <img class="img-fluid mx-auto mb-2 logo" src="../../assets/img/logo-be.png" (click)="goToMainMenu()" />
        </span>
      </a>
      <div class="d-flex justify-content-center">
        <button type="button" mat-button (click)="drawer.toggle()" class="menu-btn">
          <mat-icon svgIcon="menu_close" matTooltip="Cerrar Menú" [matTooltipShowDelay]="500"
            matTooltipPosition="below">
          </mat-icon>
        </button>
      </div>
      <br />
      <div class="d-flex justify-content-center">
        <button type="button" mat-button (click)="newStory()" class="menu-btn">
          <mat-icon svgIcon="add_white" matTooltip="Nuevo Relato" [matTooltipShowDelay]="500"
            matTooltipPosition="below">
          </mat-icon>
        </button>
      </div>
      <br />
      <div class="d-flex justify-content-center">
        <button type="button" mat-button (click)="newStory()" class="menu-btn" [routerLink]="['/tips']">
          <mat-icon svgIcon="tips" matTooltip="Consejos Prácticos" [matTooltipShowDelay]="500"
            matTooltipPosition="below">
          </mat-icon>
        </button>
      </div>
      <br />
      <div class="d-flex justify-content-center">
        <button type="button" mat-button (click)="goToChallenge()" class="menu-btn">
          <mat-icon svgIcon="challenge-white" matTooltip="Ir a Challenge" [matTooltipShowDelay]="500"
            matTooltipPosition="below">
          </mat-icon>
        </button>
      </div>
      <br />
      <a class="btn btn-outline-primary back" [routerLink]="['/allstories']">Publicados</a>
      <br />
      <div class="d-flex justify-content-center log-menu">
        <button type="button" mat-button (click)="exitModal()" class="menu-btn">
          <mat-icon svgIcon="logout" matTooltip="Salir" [matTooltipShowDelay]="500" matTooltipPosition="below">
          </mat-icon>
        </button>
      </div>
    </mat-drawer>

    <div class="container-fluid p-0">
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon svgIcon="menu_open"></mat-icon>
        </button>
      </div>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <section>
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto animated fadeIn slow ">
                  <div class="d-flex">
                    <div class="col-6">
                      <h1>BIENVENID@, {{ getUser }}</h1>
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              INSTRUCCIONES DE INICIO
                            </mat-panel-title>
                            <mat-panel-description>
                              ¿Por dónde empiezo?
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>
                            👉 No te preocupes por tu nivel. BecomeaWriter está creado
                            para todos los niveles, desde Principiante a Miguel de
                            Cervantes.
                          </p>
                          <br />

                          <p>
                            👉 Es totalmente gratuito. Entrena y desarrolla tu creatividad
                            para escribir historias de ficción.
                            <span class="nrel">Tus límites serán el tiempo y tu propia imaginación.</span>
                          </p>
                          <br />
                          <p>
                            👉 <span class="nrel">RECUERDA: </span> Puedes utilizar toda
                            la información de cada propuesta o sólo aquellas que se
                            ajusten a la historia que desees contar.
                          </p>
                          <br />

                          <p>¡A escribir!</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              CORRECCION & DESAFÍO
                            </mat-panel-title>
                            <mat-panel-description>
                              <p>¿Qué necesito saber?</p>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>
                            👉 <span class="nrel">RELATOS: </span>Una vez guardado tu
                            relato, quedará pendiente de valoración por parte de nuestros
                            expertos. Sólo será accesible para tí. Seremos muy benébolos y constructivos.<br />
                            En apenas unas horas, recibirás un comentario profesional de
                            tus escritos. Si tu relato no te ha convencido, podrá modificarlo, imprimirlo o borrarlo para siempre.
                          </p>
                          <br />
                          <p>
                            👉 <span class="nrel">DESAFÍOS: </span>La modalidad participar en un
                            <span class="nrel">'Desafío'</span>
                            <span> implica que tu relato competirá con el resto de participantes.
                              <br>Si resultas ganador del desafío recibirás un regalo. Los torneos estará abiertos a inscripción cada mes.
                              <br>¡Te informaremos por email si eres el elegido!....ojalá.
                            </span>
                          </p>
                          <p>¡Let´s Write!</p>
                          <br />
                        </mat-expansion-panel>
                      </mat-accordion>
                      <div class="d-flex justify-content-around mt-2">
                        <mat-card class="w-100 card-info">
                          <p class="item">Desafío 5 min</p>
                          <p class="data">verde</p>
                        </mat-card>
                        <mat-card class="w-100 card-info ml-3 mr-3">
                          <p class="item">Desafío 15 min </p>
                          <p class="data">Verde</p>
                        </mat-card>
                        <mat-card class="w-100 card-info">
                          <p class="item">Desafío ∞</p>
                          <p class="data">rojo</p>
                        </mat-card>
                      </div>
                    </div>
                    <div class="col-6">
                      <h3 class="cat">Categorias:</h3>
                      <h4 class="mb-2">
                        <span class="nrel heescrito"> He escrito: </span>{{ arrayRelatosTotal?.total }}
                        <span class="heescrito">relatos</span>
                      </h4>
                      <mat-card>
                        <div class="ncategories col-12">
                          <div class="col-4">
                            <h5 class="cat-head">5 min</h5>
                            <span>{{ arraycat5?.total }} relatos <mat-icon svgIcon="cat-5"></mat-icon></span>
                          </div>
                          <div class="col-4">
                            <h5 class="cat-head">15 min</h5>
                            <span>{{ arraycat15?.total }} relatos <mat-icon svgIcon="cat-15"></mat-icon></span>
                          </div>
                          <div class="col-4">
                            <h5 class="cat-head">ilimitado</h5>
                            <span>{{ arraycatno?.total }} relatos <mat-icon svgIcon="cat-infinito"></mat-icon></span>
                          </div>
                        </div>
                      </mat-card>
                      <br>
                      <mat-card>
                        <div class="ncategories col-12">
                          <div class="col-6">
                            <h5 class="cat-head">Nº de Desafíos</h5>
                            <span>{{ arraycatno?.total }} participaciones <mat-icon svgIcon="challenge"></mat-icon></span>
                          </div>
                          <div class="col-6">
                            <h5 class="cat-head">Ganador</h5>
                            <span>{{ arraycatno?.total }} ocasiones <mat-icon svgIcon="winner"></mat-icon></span>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Data del usuario -->

              <div *ngIf="hayRelatos()">
                <!-- <div> -->
                <div class="d-flex">
                  <div class="col-6">
                    <div class="d-flex m-3">
                      <h3 class="md-5">Mis relatos:</h3>
                      <div class="iconContainer">
                        <button type="button" mat-button (click)="newStory()">
                          <mat-icon svgIcon="add" matTooltip="Añadir Nuevo" [matTooltipShowDelay]="400"
                            [matTooltipClass]="{ 'tool-tip-custom': true }" matTooltipPosition="right"></mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-2">
                    <div class="iconContainer">
                      <button type="button" mat-button (click)="goToChallenge()">
                        <mat-icon svgIcon="challenge" matTooltip="Ir a Desafío" [matTooltipShowDelay]="400"
                          [matTooltipClass]="{ 'tool-tip-custom': true }" matTooltipPosition="right"></mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                      <app-stories-table></app-stories-table>
                <!-- Tabla todos relatos publicados -->
              </div>
              <div *ngIf="!hayRelatos()" class="notyet-wrapper row fadeIn superslow-2">
                <mat-icon svgIcon="folder" class="iconModal"></mat-icon>
                <h3 class="mx-auto"><strong> Todavia no has escrito ningun relato</strong></h3>
                <p class="mx-auto">Crea tu primera historia con BecomeAWriter</p>
                <button class="modal-button mx-auto" type="button" mat-button (click)="newStory()">EMPEZAR</button>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </mat-drawer-container>
</body>
<app-footeruser></app-footeruser>