<body id="page-top main-container">
  <div class="d-flex flex-column heading-write p-lg-3">
    <div class="pull-right">
      <button class="btn btn-outline-primary col-2 col-xs-12 session-button pad2" (click)="cerrarSesion()">
        Cerrar Sesión
      </button>
      <button (click)="volverMenuKids()" class="btn btn-outline-primary session-button pad2">
        Mi Menú
      </button>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top animated fadeIn" id="sideNav">
    <a class="navbar-brand js-scroll-trigger">
      <span class="d-none d-lg-block">
        <img class="img-fluid mx-auto mb-2" src="../../assets/img/nachokids-logo_1.png" alt="" />
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="propuesta.tipo === 'propuesta1'" class="navbar-nav">
        <h3 class="theme-proposal">Mi Selección</h3>
        <br />
        <h4>ESCRIBIRÉ SOBRE...:</h4>
        <p class="theme-selector">{{ propuesta.objeto.genero }}</p>
        <span class="interliner">🔸</span>
        <h4>PERSONAJE:</h4>
        <p class="theme-selector">{{ propuesta.objeto.personaje }}</p>
        <span class="interliner">🔸</span>
        <h4>SUSTANTIVO:</h4>
        <p class="theme-selector">{{ propuesta.objeto.sustantivo }}</p>
      </ul>
      <ul *ngIf="propuesta.tipo === 'propuesta2'" class="navbar-nav">
        <h3 class="theme-proposal">Tu Propuesta</h3>
        <p class="theme-selector">{{ propuesta.objeto.completa }}</p>
        <p *ngIf="propuesta.objeto.imagen !== null" class=" propose prop-img zoom">
          <img class="lateral-image" [src]="propuesta.objeto.imagen" />
        </p>
      </ul>
    </div>
  </nav>
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h3 class="nota">
          👉 Cuando acabe el tiempo podrás revisar tu cuento y sumar estrellas
          (⭐ ) <br />¡SUERTE!
        </h3>
        <hr />
        <div class="resume-date text-md-right">
          <!-- timer -->
          <img id="clock" src="../../assets/img/nachosand-clock.png" alt="reloj-arena-become-a-writer" />
          <div class="timer-design pad">
            <h3 class="crono" *ngIf="!ilimitado">
              {{ secondsToMinutesSeconds(count) }}
            </h3>
            <h3 class="crono" *ngIf="ilimitado">Sin Límite</h3>
          </div>
        </div>
        <section>
          <div class="d-flex flex-column flex-md-row col-12 ajust-margin">
            <div class="resume-content">
              <h3 class="mb-0">Título de mi Cuento:</h3>
              <br />
              <div class="box-title">
                <div class="subheading mb-3">
                  <div class="form-group purple-border">
                    <div class="form-group shadow-textarea">
                      <input [(ngModel)]="relato.titulo" class="form-control z-depth-1 input-title"
                        id="exampleFormControlTextarea4" rows="1" />
                    </div>
                  </div>
                </div>
                <button (click)="handleClickGuardarKids()" type="submit " class="btn btn-outline-primary rev">
                  Guardar mi cuento
                </button>
                <!-- fin fox-title -->
              </div>
            </div>
          </div>
          <div class="form-group purple-border">
            <label for="exampleFormControlTextarea4">Escribe:</label>
            <div class="form-group shadow-textarea">
              <textarea [(ngModel)]="relato.texto" class="form-control z-depth-1 custom-textarea"
                placeholder="Érase una vez...(o lo que sea)" id="exampleFormControlTextarea4" rows="10"></textarea>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</body>