<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="submit">
          <section class="form-signin square-form animated fadeIn">
            <p class="star">⭐</p>
            <h2 class="form-signin-heading total-stories">
              {{ getUser }}, tienes
              {{
                arraycatno.total * 3 + arraycat15.total * 2 + arraycat5.total
              }}
              ⭐!
            </h2>
            <div class="ncategories col-12">
              <div class="col-4 align">
                <h5 class="cat-head">5 min</h5>
                <span>{{ arraycat5.total }} cuentos</span>
                <br />
                <p>
                  {{ arraycat5.total * 1 }}<br /><span class="star-number">⭐</span>
                </p>
              </div>
              <div class="col-4 align">
                <h5 class="cat-head">15 min</h5>
                <span>{{ arraycat15.total }} cuentos </span>
                <br />
                <p>
                  {{ arraycat15.total * 2 }}<br /><span class="star-number">⭐ ⭐</span>
                </p>
              </div>
              <div class="col-4 align">
                <h5 class="cat-head">ilimitado</h5>
                <span>{{ arraycatno.total }} cuentos </span>
                <p>
                  {{ arraycatno.total * 3 }} <br /><span class="star-number">⭐ ⭐ ⭐</span>
                </p>
              </div>
            </div>
            <!-- <button class="btn btn-lg btn-block" type="submit">Acceder</button> -->
            <br />
            <h2 class="form-signin-heading">
              Te faltan: <br />
              <span class="star-to-20">
                {{
                  20 -
                    (arraycatno.total * 3 +
                      arraycat15.total * 2 +
                      arraycat5.total)
                }} </span><br />
              estrellas para tu premio 🎁 !
            </h2>
            <input class="btn btn-lg btn-block" (click)="volverMenu()" type="submit" class="btn btn-lg btn-block"
              value="Volver a mi menú" />
          </section>
        </div>
      </div>
    </div>
  </header>
</body>