<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-school fixed-top animated fadeIn" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">profile</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid mx-auto mb-2" src="../../assets/img/nachokids-logo_1.png" alt="" />
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-1">
        <h6>{{ 'NEWPROFILE.MYMENU' | translate }}</h6>
        <a class="btn btn-outline-primary my-3 back" [routerLink]="['/selecttimekids']">{{ 'NEWPROFILE.NEW_STORY' | translate }}</a>
        <a class="btn btn-outline-primary my-3 back" [routerLink]="['/logroskids', id]">{{ 'NEWPROFILE.ACHIEVEMENTS' | translate }} ⭐</a>
        <a class="btn btn-outline-primary my-3 back" [routerLink]="['/tipskids']">School <span class="k">K</span><span
            class="i">i</span><span class="d">d</span><span class="s">s</span> !</a>
        <a class="btn btn-outline-primary my-3 back" [routerLink]="['/allstorieskids']">{{ 'NEWPROFILE.PUBLISH' | translate }} </a>
        <span class="interliner">🔸</span>
        <a class="btn btn-outline-primary my-3 back salir" (click)="logout()">{{ 'BUTTON.EXIT' | translate }} </a>
      </ul>
    </div>
  </nav>
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <section>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <p class="alumno">ALUMNO:</p>
                <h1>{{ 'NEWPROFILE.WELCOME' | translate }}, {{ getUser }}</h1>
                <p>{{ currentTime }}</p>
                <br/>
                <label id="greeting"></label>
                <hr>
                <p>
                  👉 <span class="nrel">Cuentos: </span>En apenas unas horas, -y
                  una vez guardado tu cuento-, recibiras un comentario de los
                  profes de Become a Writer Kids y tu valoración de estrellas (
                  ⭐ ).
                </p>
                <br />
                <p>
                  👉 <span class="nrel">Logros: </span>Cuando tengas 20
                  estrellas recibirás ¡un fantástico regalo! ( 🎁 ).
                  <br />Consulta tus Logros en el menú lateral.
                </p>
                <br />
                <p>¡A escribir!</p>
                <!-- <h3 class="mb-0">TITULO</h3> -->
              </div>
            </div>
            <h3 class="cat">Categorías:</h3>
            <a class="btn btn-outline-primary back salir newone fadeIn animated slow"
              [routerLink]="['/selecttimekids']">Escribir Nuevo Relato</a>
            <h4>
              <span class="nrel heescrito"> He escrito: </span>{{ arrayRelatosTotal?.total }}
              <span class="heescrito">cuentos</span>
            </h4>
            <br />
            <div class="ncategories col-12">
              <div class="col-4">
                <h5 class="cat-head">5 min</h5>
                <span>{{ arraycat5?.total }} cuentos 📔 </span>
              </div>
              <div class="col-4">
                <h5 class="cat-head">15 min</h5>
                <span>{{ arraycat15?.total }} cuentos 📔 </span>
              </div>
              <div class="col-4">
                <h5 class="cat-head">ilimitado</h5>
                <span>{{ arraycatno?.total }} cuentos 📔 </span>
              </div>
            </div>
            <!-- Tabla todos relatos publicados -->
            <h3 class="md-5">Mis cuentos:</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="table-me table-striped">
                      <tr>
                        <!-- <th>Nº</th> -->
                        <th>Título</th>
                        <th>Categoria</th>
                        <th>Cuento</th>
                        <th>Fecha</th>
                        <th>Asignada ⭐</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let relatos of arrayRelatosId">
                        <td>{{ relatos.titulo }}</td>
                        <td>{{ relatos.categoria }} min</td>
                        <td>
                          <a class="colored" [routerLink]="['/editstorykids', relatos.id]">Ir a Cuento</a>
                        </td>
                        <td>{{ relatos.fecha | date }}</td>
                        <td class="star">{{ relatos.puntaje }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Tabla todos relatos publicados -->
            <h3 class="md-5">
              Visita los últimos cuentos publicados por otros chic@s de Become a
              Writer <span class="k">K</span><span class="i">i</span><span class="d">d</span><span class="s">s</span>:
            </h3>
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-outline-primary back salir" [routerLink]="['/allstorieskids']">Ir a Últimos Cuentos
                  Publicados</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</body>