body {
  padding-top: 54px;
  color: #868e96;
}
a.back:hover {
  background: #f7d9f7;
}

a.back.salir {
  background: #a53392;
  color: #f2f2f2;
}
a.back.salir:hover {
  background: #772269;
  color: #f2f2f2;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #fad5fb;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background: #a53392;
  box-shadow: 0 0 0 0.2rem #fad5fb;
}
a.newone {
  margin-bottom: 3px;
  float: right;
}
.table td {
  font-size: 16px;
  vertical-align: middle;
}
.table td.star {
  text-align: center;
  font-size: 19px;
}

p {
  font-size: 17px;
}
p.alumno{
  color: var(--main-second-color);
  position: relative;
    top: 26px;
}

/* Pagination */

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #e82172ad;
  opacity: 0.85;
  font-size: 13px;
}
.my-pagination ::ng-deep .ngx-pagination li {
  font-size: 13px;
}

.my-pagination li {
  border-radius: 2px;
}

@media (max-width: 992px) {
  .fixed-top {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 10rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #484848;
}
h1 {
  font-size: 2rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.5rem;
  padding: 2% 0;
  text-transform: unset;
}

h6 {
  color: #484848;
  margin-bottom: 4%;
}
span.k {
  color: #389b53;
}

span.i {
  color: #f56596;
}
span.d {
  color: #ddd34e;
}
span.s {
  color: #869ccb;
}
.ncategories span {
  font-size: 18px;
}
.back {
  color: white;
}

a.back {
  color: #a53392;
}
.ncategories {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 2% 0;
}
.nrel {
  color: #a53392;
  text-transform: capitalize;
  font-size: 18px;
}
h3.cat {
  padding: 0;
  font-size: 20px;
}
.heescrito {
  text-transform: none;
  color: #d6ac4c;
  font-size: 18px;
}
.back:hover {
  color: #484848;
  background: #f2f2f2;
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #f2f2f2;
}

.list-social-icons a:hover {
  color: #611c55;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #bd5d38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.rev {
  margin: 3% auto;
}
section.resume-section {
  border-bottom: 1px solid #dee2e6;
  background: #eee9ff;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}
.table-me {
  background-color: var(--main-bg-school);
  // background: var(--main-background-deg);
  opacity: 0.75;
  border-bottom: 3px solid #9d0cb9;
}

.table-me tr th {
  color: #484848;
  font-size: 16px;
  font-weight: 800;
}

a.colored {
  color: #204d74;
}
.bg-custom {
  background: var(--main-background-deg);
  height: 100vh;
}

.text-primary {
  color: #a53392 !important;
}

a {
  color: #bd5d38;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}
.btn-user {
  margin: 0 1em;
}
