.modal {
  width: 100%;
	background:rgba(26, 39, 50, 0.75);
  align-items: center;
}
.modal-header {
  color:  #bd10e0;
}
.modal-dialog {
position: relative;
top:100px;
}
.status-text{
  font-size: 20px;
  color:  #bd10e0;
  margin: 6%;
  display: flex;
  justify-content: center;
}
.body-modal-text {
  font-size: 18px;
  text-align: center;
}
.modal-content {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
}
#modal-dialogue{
  position: relative;
    top: 100px;
    align-self: center;
}
h4{
  color: #484848;
}
.tick-image {
  width: 90px;
  display: flex;
  margin: 0 auto;
}