<div class="mainWrapper">
	<div class="row">
		<div class="col">
			<div class="window-title">
				Panel de administración
			</div>
			<p>Buenos días, Nombre</p>
		</div>
	</div>
	<div class="row cardsWrapper">
		<div class="col">
			<!-- [data]="analyzedSamplesData" -->
			<app-info-card [data]="data1Card" [title]="'Titulo'" [icon]="'assets/img/checked.svg'"
				[loading]="loadingDataCard1"></app-info-card>
		</div>
		<div class="col">
			<app-info-card [title]="'titulo2'" [icon]="'assets/img/pencil-case.svg'" [loading]="loadingAnalyzedSamples">
			</app-info-card>
		</div>
		<div class="col">
			<app-info-card [title]="'Titulo3'" [icon]="'assets/img/prueba.svg'" [loading]="loadingAnalyzedSamples">
			</app-info-card>
		</div>

	</div>
	<div class="row chartsWrapper">
		<div class="col">
			<mat-card class="mat-elevation-z8 chartCard" *ngIf="!loadingNumberStories">
				<app-spinner *ngIf="loadingNumberStories"></app-spinner>
				<app-info-chart [data]="NumberStories" [title]="'% de relatos / categoria'" [tooltipPosition]="'right'">
				</app-info-chart>
			</mat-card>
		</div>
		<div class="col">
			<mat-card class="mat-elevation-z8 chartCard" *ngIf="!loadingChart2">
				<app-spinner *ngIf="loadingChart2"></app-spinner>
				<app-bars-chart [data]="correctedvsNot" [title]="'Corregidos vs No correguidos'"></app-bars-chart>
			</mat-card>
		</div>

		<div class="col">
			<!-- spinner -->
			<mat-card class="mat-elevation-z8 chartCard">
				<app-radar-chart [title]="'Corregidos vs No correguidos'"></app-radar-chart>
			</mat-card>
		</div>
	</div>
	<div class="row chartsWrapper">
	<div class="col-8">
		<mat-card class="mat-elevation-z8 chartCard" *ngIf="!loadingChart4">
			<app-spinner *ngIf="loadingChart4"></app-spinner>
			<app-rose-chart
			[data]="dataChart4"
			[title]="'rosa de Relatos'">
		</app-rose-chart>
		</mat-card>
	</div>
	<div class="col-4">
		<mat-card class="mat-elevation-z8 chartCard" *ngIf="!loadingChart5">
			<app-spinner *ngIf="loadingChart5"></app-spinner>
			<app-bar-basic-chart
			[data]="datachart5"
			>
			</app-bar-basic-chart>
		</mat-card>
	</div>
	</div>
	<a class="nav-link" (click)="logout()">SALIR</a>
</div>