
$becomeBodyColor: #3123ae ;
$becomeMainColor: #9d0cb9;
$becomeSecondaryMainColor: #8a2be2;
$becomeSecondaryColor: #c96dd7;
$becomeLightFontColor: #fff6ff;
$becomeDarkFontColor: #484848;
$baseDataDashboardBox: #616161;