<h3 mat-dialog-title class="titleHeader">
  <span>{{title}}</span>
  <mat-divider class="headerDivider"></mat-divider>
</h3>
<div mat-dialog-content class="dialogContent">
  <div class="contentDiv">
    <div><span>{{body}}</span></div>
    <br>
    <div><span>{{body2}}</span></div>
    <br>
    <div><span>{{body3}}</span></div>
    <br>
    <div><span>{{body4}}</span></div>
    <!-- <div *ngIf="icon">
      <mat-icon [svgIcon]="icon" class="iconModal"></mat-icon>
    </div> -->
  </div>
  <mat-divider></mat-divider>
  <div class="text-center buttonContainer">
    <button mat-button (click)="accept()" class="modal-button">COMENZAR</button>
  </div>
</div>