a.colored {
  color: #204d74;
  margin: 0 10px;
}
table {
  width: 100%;
  table-layout: fixed;
td {
  vertical-align: middle !important;
}
}



.tableContainer {
  table {
      width: 100%;
          .iconButton {
              cursor: pointer;
          }

          .icon-container {
              display: flex;
              justify-content: space-evenly;

              .disabled-icon {
                filter: grayscale(100%);
                cursor: not-allowed;
              }
            
              .enabled {
                filter: grayscale(0%);
                cursor: pointer;
              }
          }
      

      .mat-column-fecha {
          width: 90px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1em;
      }
      .mat-column-categoria {
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1em;
      }

      .mat-column-reto {
        width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1em;
    }

      .mat-column-titulo {
          width: 280px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1em;
      }
      .mat-column-puntaje {
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1em;
      }
      .mat-column-lectura {
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1em;
      }

      .mat-column-actions {
          width: 150px;
      }


  }
}

button:focus,
button:visited {
  outline: none;
  background-color: none;
}





// ANTIGUO



.ngx-pagination .current{
  background: #8a2be2 !important;
}

.table thead th {
  color: #8a2be2 !important;
}


.mat-header-row .ng-star-inserted {
  border-bottom: 1px solid #a3a2a2;
  color: #1a2732;
}

.mat-sort-header-arrow {
  color: #484848;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  background-color: #d8e8fc;
  color: white;
  margin: 1%;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  .mailIcon {
    width: 20px;
  }
  .disabled-icon{
    filter: grayscale(100%);
    cursor:not-allowed;
  }
  .enabled{
    filter: grayscale(0%)
  }

}

label {
  margin-bottom: 0 !important;
}

.mat-column-titulo {
  width: 90px;
}

.mat-column-Date {
  width: 160px;
}

.mat-column-category {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1em;
}

.mat-column-puntaje {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1em;
}

.mat-column-actions {
  width: 130px;
}

button:focus,
button:visited {
  outline: none;
  background-color: none;
}
.disabledpointer{
  cursor: not-allowed;
}