#becamoawriter {
  padding-bottom: 10%;
}
#becamoawriter .container img {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 2%;
}

#becamoawriter .container img.imagen2 {
  width: 300px;
}

.center-block img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.lessons-bubble2 {
  position: absolute;
  top: -4rem;
  // left: -4rem;
  animation: mymove 7s ease-in-out infinite;
}

@keyframes mymove {
  0%   {left: 0px;}
  25%  {left: 10px;}
  75%  {left: -10px;}
  100% {left: 0px;}
}