#howitworks {
  margin-bottom: 5%;
}

.wrapper-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.number {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #a53392;
  width: 100px;
  border-radius: 4px;
  font-size: 42px;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 100px;
  line-height: 75px;
  background: #f2f2f2;
}

p {
  font-size: 20px;
  color: #484848;
}
.arrow {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

span.k {
  color: #389b53;
  font-size: 20px;
}

span.i {
  color: #f56596;
  font-size: 20px;
}
span.d {
  color: #ddd34e;
  font-size: 20px;
}
span.s {
  color: #869ccb;
  font-size: 20px;
}

@media (max-width: 768px) {
  .number,
  .columna {
    margin-bottom: 10px;
  }
}
