mat-drawer {
  width: 160px;
  // background: blueviolet;
  background: linear-gradient(
    to right,
    rgba(49, 35, 174, 1) 0%,
    rgba(201, 109, 215, 1) 100%
  ) !important;
}
.mat-drawer-side {
  border: none;
}

.example-container {
  // width: 500px;
  // height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.icon {
  width: 24px;
  height: 24px;
}
.iconModal {
  width: 120px;
  padding: 20px;
  margin: 0 auto;
}
.example-sidenav {
  padding: 20px;
  position: fixed;
}
.image-propuesta{
  width: 100%;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 90px;
  padding: 0;
  align-self: center;

  mat-icon {
    cursor: pointer;
    height: 38px;
    width: 38px;
  }
}
.modal-button {
  background-color: #8a2be2;
  color: var(--main-bg-school);
  border: 1px solid var(--main-bg-school);
  border-radius: 4px;
  width: 130px;
  padding: 6px 4px;
  margin: 30px 0 10px;
}
.notyet-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.data {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.item {
  display: flex;
  justify-content: center;
}
.log-menu {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.menu-btn {
  height: 56px;
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 1.7em;
}

.paragraph-story {
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
}
.publish{
  font-size: 13px;
  margin: 0 auto;
}

body {
  font-family: "Nunito", serif;
  color: #868e96;
}
.card-info {
  margin: 1em 0;
  padding: 1em;
  height: 100px;
}

a.salir {
  background: #95a0aa;
}

a.newone {
  margin-bottom: 3px;
  float: right;
}

@media (max-width: 992px) {
  .fixed-top {
    display: none;
  }
  body {
    padding-top: 0;
  }
}

// @media (min-width: 992px) {
//   body {
//     padding-top: 0;
//     padding-left: 17rem;
//   }
// }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", serif;
  text-transform: uppercase;
  color: #343a40;
}

h6 {
  color: #f2f2f2;
  margin-bottom: 4%;
}

h1 {
  font-size: 2rem;
  line-height: 4.5rem;
  text-transform: capitalize;
}

h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.5rem;
  padding: 0 0 0 1em;
  text-transform: unset;
}
.back {
  color: white;
}

a.back {
  color: white;
}
.ncategories {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 2% 0;
}
.nrel {
  color: #a53392;
}
h3.cat {
  padding: 0;
}
.heescrito {
  text-transform: none;
  color: #8a2be2;
}
.back:hover {
  color: #484848;
  background: #f2f2f2;
}
.subheading {
  font-weight: 500;
  font-family: "Nunito", serif;
  font-size: 1.35rem;
}

.rev {
  margin: 3% auto;
}
section.resume-section {
  padding-top: 1em !important;
  border-bottom: 1px solid #dee2e6;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.bg-custom {
  background: var(--main-background-deg);
  height: 100vh;
}

.text-primary {
  color: #a53392 !important;
}

a {
  color: #bd5d38;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}
.btn-user {
  margin: 0 1em;
}
.logo {
  cursor: pointer;
}


@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

body {
  font-family: "Nunito", serif
}

.stars {
  font-size: 9px;
  color: #ba68c8;
  text-transform: lowercase;
}
p.correccion {
  text-transform: none;
  color: rgb(80, 90, 236);
  font-size: 16px;
  font-weight: 300;
}


.propuesta-marco {
  border: none;
  padding: 2%;
}

.rev {
  margin: 3% auto;
}


section.resume-section .resume-item .resume-date {
  min-width: none;
}

/* text-area */
.purple-border textarea,
.purple-border input {
  border: 1px solid #ba68c8;
}

.shadow-textarea  {
  article{
   max-width: 960px; 
  }
}

.resume-content {
  width: 100%;
}
.custom-border{
  border-bottom: 2px solid #ba68c8;
  margin: 1em auto;
}