<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <span class="copyright"
        >Copyright &copy; Become a Writer. 2020. Developed by |
        <a href="https://nachogp.github.io/CioGPortfolio/" target="_blank">
          &nbsp; Cio G.</a
        ></span
      >
    </div>
    <div class="col-md-4 col-sm-12 text-center">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item ">
          <a href="https://twitter.com/becomeawriter1">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            target="_blank"
            href="https://www.facebook.com/Becomeawriterorg-1080210388795032"
          >
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <ul class="list-inline quicklinks">
        <li class="list-inline-item">
          <a [routerLink]="['/politica']"> Política de privacidad | </a>
        </li>
        <br/>
        <li class="list-inline-item">
          <a target="_blank" href="mailto:hola@becomeawriter.com"
            >hola@becomeawriter.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>