<div class="container">
	<div class="d-flex justify-content-start align-items-center">
		<p><strong>Error &nbsp; </strong> | &nbsp;</p>
		<p class="typeAccess"> mantenimiento </p>
	</div>
	<div class="wrapper-target">
		<h3>El servicio no se encuentra disponible por labores de mantenimiento técnico.</h3>
		<div class="col-xs-12 col-md-12 message-container row">
			<div class="col-xs-12 col-md-2 mx-0 text-center">
				<img src="../../../../assets/img/hero-2.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 row mx-0">
				<p class="col-sm-12">Inténtelo de nuevo más tarde.</p>
				<p class="col-sm-12">Disculpe las molestias.</p>
			</div>
			<div class="btn col-md-12">
					<button (click)="goHome()" class="btn btn-custom">Volver a Inicio</button>
			</div>
		</div>
		<ng-template #adaType></ng-template>
	</div>
</div>
