h3 {
  color: #90ce00;
}

.wrapper-target {
  padding: 3em 3em 1.5em;
  margin: 1em 0;
  background: white;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgb(184, 189, 193);
  max-width: 706px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.col-form-label {
  font-size: 1em;
  line-height: 1;

}
img{
  width: 50px;
}
.typeAccess {
  color: #90ce00;
  font-size: 14px;
  font-weight: 600;
}

.message-container {
  padding: 1.5em;
}

@media (max-width: 627px) {

  .wrapper-target {
    -webkit-box-shadow: 2px 3px 6px 3px rgb(184, 189, 193);
    -moz-box-shadow: 2px 3px 6px 3px rgb(184, 189, 193);
    box-shadow: 2px 3px 6px 3px rgb(184, 189, 193);
    padding: 3%;

  }

  .message-container {
    margin:0 auto;
  }

  h3 {
    margin: 3%;
    font-size: 1.2em;
  }

}