h1,h2,h3,h4,h5 {
  font-family: "Nunito", serif;
  text-transform: uppercase;
  color: #343a40;
}

h3 {
  font-size: 1.5rem;
	text-transform: unset;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
h3.cat {
  padding: 0;
  margin: 0 auto;
}

// CARD WRAPPER
.cards-winner-wrapper {
  margin-top: 1em;
  flex: 1;
  .winner-card {
    display: flex;
    height: 100px;
    padding: 0;
    mat-card-header{
      background: #8a2be2;
      display: flex;
      flex-direction: column;
      border-radius: 4px 0 0 4px;
      justify-content: center;

      p{
        color: #f2f2f2;
        font-size: 18px;
        margin: 0 auto !important;
      }
      p.first-line{
        font-size: 24px;
        font-weight: 700;
      }
    }
    .modal-button {
      background-color: #8a2be2;
      color: #f2f2f2;
      border: 1px solid #8a2be2;
      border-radius: 4px;
      width: 130px;
      margin: 30px;
    }
    mat-card-content{
      .header-box-winner{
        p{
          color: #8a2be2;
          font-weight: 700;
        }
      }
      .result-box-winner{
        button{
          position: relative;
          right: 1.2em;
        }
      }
    }
  }
}

// @media (max-width: 1581px) {

//   .cards-winner-wrapper{
//     .winner-card{
//       mat-card-header {
//         p.first-line.on-query{
//         font-size: 14px;
//       }

//       }
//     }
//   }
// }