<h3>GANADORES</h3>
<h3 class="cat">Abril</h3>
<p class="d-flex justify-content-center">Los ganadores de cada categoría recibirán un regalo</p>
<div class="cards-winner-wrapper">
	<!-- card de Sin Limite winner -->
	<mat-card class="winner-card mb-4">
		<mat-card-header class="col-2 w-100">
			<p class="first-line">Sin</p>
			<p>Límite</p>
		</mat-card-header>
		<mat-card-content class="col-10">
			<div class="col-12">
				<p class="mt-2 mb-2">19/02/2020</p>
			</div>
			<div class="row header-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">
						<p>Creado por</p>
					</div>
					<div class="col-7">
						<p>Relato</p>
					</div>
					<div class="col-2">
						<p>Leer</p>
					</div>
				</div>
			</div>
			<div class="row result-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">Jamal S.</div>
					<div class="col-7">El misterio de Fritz</div>
					<div class="col-2">
						<button class="mat-button" (click)="leerWinnerSin()">
							<mat-icon svgIcon="view"></mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<!-- card de 15 min winner-->
	<mat-card class="winner-card mb-4">
		<mat-card-header class="col-2 w-100">
			<p class="first-line">15</p>
			<p>min</p>
		</mat-card-header>
		<mat-card-content class="col-10">
			<div class="col-12">
				<p class="mt-2 mb-2">19/02/2020</p>
			</div>
			<div class="row header-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">
						<p>Creado por</p>
					</div>
					<div class="col-7">
						<p>Relato</p>
					</div>
					<div class="col-2">
						<p>Leer</p>
					</div>
				</div>
			</div>
			<div class="row result-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">Rafa R.</div>
					<div class="col-7">Aquel año donde todo parecía mentira</div>
					<div class="col-2">
						<button class="mat-button" (click)="leerWinner15Min()">
							<mat-icon svgIcon="view"></mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<!-- card de 5 min winner-->
	<mat-card class="winner-card mb-4">
		<mat-card-header class="col-2 w-100">
			<p class="first-line">5</p>
			<p>min</p>
		</mat-card-header>
		<mat-card-content class="col-10">
			<div class="col-12">
				<p class="mt-2 mb-2">19/02/2020</p>
			</div>
			<div class="row header-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">
						<p>Creado por</p>
					</div>
					<div class="col-7">
						<p>Relato</p>
					</div>
					<div class="col-2">
						<p>Leer</p>
					</div>
				</div>
			</div>
			<div class="row result-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">Raquel M.</div>
					<div class="col-7">Cargarse al soldado</div>
					<div class="col-2">
						<button class="mat-button" (click)="leerWinner5Min()">
							<mat-icon svgIcon="view"></mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<hr>
	<!-- card de Propuesta propia-->
	<mat-card class="winner-card mb-4 mt-4">
		<mat-card-header class="col-2 w-100">
			<p class="first-line on-query">Desafío</p>
			<p>PRO</p>
		</mat-card-header>
		<mat-card-content class="col-10">
			<div class="col-12">
				<p class="mt-2 mb-2">22/08/2020</p>
			</div>
			<div class="row header-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">
						<p>Creado por</p>
					</div>
					<div class="col-7">
						<p>Relato</p>
					</div>
					<div class="col-2">
						<p>Leer</p>
					</div>
				</div>
			</div>
			<div class="row result-box-winner">
				<div class="col-12 d-flex">
					<div class="col-3">Ricardo M.</div>
					<div class="col-7">Querer saltar sin red</div>
					<div class="col-2">
						<button class="mat-button" (click)="leerWinnerProp()">
							<mat-icon svgIcon="view"></mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
