img {
  margin-top: 5em;
  width: 100%;
}
.imagen {
  padding: 2em;
}
.texto {
  padding: 2em;
}
ul li {
  line-height: 28px;
  padding: 2% 0;
}
.colored {
  color: blueviolet;
  background: yellow;
}
.btn-primary {
  background: var(--main-background-deg);
  border-color: #f0f0f0;
  color: #f2f2f2;
  padding: 0.5em 2.5em;
}

.btn-primary:hover {
  background: transparent;
  color: blueviolet;
  border-color: blueviolet;
}

span.k {
  color: #389b53;
  font-size: 32px;
}

span.i {
  color: #f56596;
  font-size: 32px;
}
span.d {
  color: #ddd34e;
  font-size: 32px;
}
span.s {
  color: #869ccb;
  font-size: 32px;
}
