<section id="beawriter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 texto ">
        <h2 class="section-heading text-center">
          <span class="colored">¡NUEVO!</span> Become a Writer
          <span class="k">K</span><span class="i">i</span
          ><span class="d">d</span><span class="s">s</span>!
        </h2>
        <ul>
          <li>
            👉 ¡Para los más pequeños de la casa! <span class="enfasis"> </span>
          </li>
          <li>👉 Lúdico, entretenido y formativo.</li>
          <li>
            👉 Basado en el aprendizaje dinámico y el refuerzo positivo de los
            niñ@s.
          </li>
          <li>👉 A partir de <span class="enfasis">8 años</span></li>
          <br />
          <a
            class="btn btn-primary btn-xl js-scroll-trigger"
            [routerLink]="['registerkids']"
            >¡Les va a encantar!</a
          >
        </ul>
      </div>
      <div class="col-lg-6 imagen">
        <img
          src="../../assets/img/heros-become-kids-home-image.png"
          alt="books-holding-on-hand"
        />
      </div>
    </div>
  </div>
</section>