<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark top-head">
    <div class="container">
      <div class="navbar-collapse" id="navbarResponsive">
        <img class="proposal" src="../../../assets/img/logo-be.png" alt="" />
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" mat-button (click)="exitModal()" [routerLink]="['/main']">
              <mat-icon svgIcon="logout_dark" class="iconModal"></mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="submit">
          <div class="intro-heading writing">
            Selecciona una propuesta, por favor:
          </div>
          <div class="proposals-container">
            <section [ngClass]="{ active: isActive }" class="square-form animated fadeIn propose-square">
              <h2 class="proposalnumber">1</h2>
              <article class="first-columna">
                <div class="rand1">
                  <h2 class="form-signin-heading pro-headings">GÉNERO:</h2>
                  <p class="propose">{{ arrayPropuesta1?.genero }}</p>
                </div>
                <hr />
                <div class="rand1">
                  <h2 class="form-signin-heading pro-headings">PERSONAJE:</h2>
                  <p class="propose">{{ arrayPropuesta1?.personaje }}</p>
                </div>
                <hr />
                <div class="rand1">
                  <h2 class="form-signin-heading pro-headings">SUSTANTIVO:</h2>
                  <p class="propose">{{ arrayPropuesta1?.sustantivo }}</p>
                </div>
                <hr />
                <div class="rand1">
                  <h2 class="form-signin-heading pro-headings">TEMA:</h2>
                  <p class="propose">{{ arrayPropuesta1?.tema }}</p>
                </div>
                <hr />
                <div class="rand1">
                  <h2 class="form-signin-heading pro-headings">LUGAR:</h2>
                  <p class="propose">{{ arrayPropuesta1?.localizacion }}</p>
                </div>
                <hr />
              </article>
              <div class="select-btn-wrapper">
                <button (click)="activeButton()" class="btn btn-lg btn-block" id="selected-button" type="submit">
                  Selecciona Opción 1
                </button>
              </div>
            </section>

            <section [ngClass]="{ active: !isActive }" class="square-form animated fadeIn col-12 prop-2">
              <h2 class="proposalnumber">2</h2>
              <article class="first-columna">
                <h2 class="form-signin-heading pro-headings"></h2>
                <p class="propose">{{ arrayPropuesta2?.completa }}</p>
                <p *ngIf="arrayPropuesta2?.imagen !== null" class="propose prop-img zoom">
                  <img [src]="arrayPropuesta2?.imagen" />
                </p>
              </article>
              <div class="select-btn-wrapper">
                <button (click)="activeButton()" class="btn btn-lg btn-block" id="selected-button" type="submit">
                  Selecciona Opción 2
                </button>
              </div>
            </section>
          </div>
          <div class="clear-fix"></div>
          <div class="d-flex align-items-center">
            <div class="col-2 select-btn-wrapper">
              <button class="navigate" type="button" mat-button [routerLink]="['/newprofile']">
                <mat-icon svgIcon="navigate_before" class="iconModal-nav"></mat-icon>
              </button>
            </div>
            <div class="button-sel col-8 animated fadeIn slow">
              <button (click)="guardarPropuesta()" class="btn btn-block startWrite" type="submit">
                Comenzar a Escribir
              </button>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>