body {
  // background-image: url(../../../../assets/img/hero-2.jpg);
  /* background:  var(--main-background-deg); */
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center center;
  // background-size: cover;
  height: auto;
}
* {
  font-family: "Nunito", serif;
}

.iconModal{
  width: 20px;
}
.iconModal-nav{
  width: 30px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 1.5em;
}

.navbar-dark .navbar-nav .nav-link {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}
.navbar-nav a:hover,
.nav-link a:hover {
  background-color: #f2f2f2;
  color: #484848;
}

.btn-block:hover {
  color: #484848;
  background-color: #fff;
  border-color: #204d74;
}
span {
  font-size: 12px;
  color: #f2f2f2;
}
a {
  font-size: 12px;
  color: white;
}
button {
  font-size: 16px;
}

input,
button {
  margin-top: 10px;
}
.active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  outline: 4px solid #fa91f1;
  box-shadow: 0 10px 20px rgba(78, 3, 72, 0.1);
  transition: box-shadow .25s linear,-webkit-box-shadow .25s linear;
}
.rand1 {
  display: flex;
}
.button-sel {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin: 1.5em auto;
  height: 70px;
  width: 300px;
}

.square-form {
  border: 0.5px solid rgb(146, 136, 236);
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // background: var(--main-background-deg);
  background: #f2f2f2;
  margin-bottom: 10px;
  color: #212529;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}
.submit img {
  width: 150px;
  display: flex;
  margin: 0 auto;
}
.writing {
  color: #484848;
  text-align: center;
  font-size: 22px;
  padding: 0 0 20px 0;
}
img.proposal {
  width: 120px;
}

.propose {
  color: #212529;
  font-size: 15px;
  width: 100%;
}
.first-columna {
  padding: 3%;
  flex: 1;
}
.pro-headings {
  width: 100%;
}
.prop-img {
  padding: 3% 0;
}
.prop-img img {
  width: 250px;
  display: flex;
  margin: 0 auto;
  border-radius: 3px;
}

.proposals-container {

  display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    margin: 3% auto;
}
.propose-square {
  flex-wrap: wrap;
  width: 100%;
}
.zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
  -ms-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  position: relative;
  z-index: 100;
}

h2.proposalnumber {
  font-size: 22px;
  text-align: center;
  color: #212529;
}
.button-2 {
  position: absolute;
  justify-content: center;
  width: 100%;
}
.wirting {
  padding-top: 0;
}
#selected-button{
  background: #fff;
  height: 48px;
  width: 286px;
  margin: 1em auto;
  justify-content: center;
  align-self: center;
}
.select-btn-wrapper{
  display: flex;
  align-items: flex-end;
}

.startWrite {
  background: #fff;
  color: #484848;
  border: 1px solid #fa91f1;
}
.startWrite:hover {
  background: #f3f3f3;
  color: #484848;
}
mat-icon {
  cursor: pointer;
  height: 38px;
  width: 38px;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }
  .proposals-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  section {
    flex-wrap: wrap;
  }
  .propose-square {
    margin: 2em 0;
  }
}
