.card {
  width: auto;
  height:795px;
}
.card:hover{
  padding:0;
  -webkit-box-shadow: 0px 12px 9px -2px rgba(227,220,227,1);
-moz-box-shadow: 0px 12px 9px -2px rgba(227,220,227,1);
box-shadow: 0px 12px 9px -2px rgba(227,220,227,1);

}
.btn-outline-custom {
  border-color: #9d0cb9;
  margin: 0 auto;
}
.btn-outline-custom:hover {
  background: #9d0cb9;
  margin: 0 auto;
  color: #f2f2f2;
}
.arrow-pricing{
  width: 22px;
  display:flex;
  justify-content: center;
  margin:0 auto;
}
.main-prize {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: #484848;
}
h3 {
  display: flex;
  justify-content: center;
}
ul li span {
  font-size: 12px;
}
p.prizeitem {
  font-size: 12px;
  padding-left: 1em;
  line-height: 1.5em;
}
.include-wrapper{
	border-bottom: 1px solid #9d0cb9;
	
}
p.include {
	color:	#9d0cb9;
	display: flex;
	justify-content: center;
}
.colored {
  color: blueviolet;
  font-size: 30px;
}
small {
	color: #9d0cb9;
}
span.k {
  color: #389b53;
  font-size: 32px;
}

span.i {
  color: #f56596;
  font-size: 32px;
}
span.d {
  color: #ddd34e;
  font-size: 32px;
}
span.s {
  color: #869ccb;
  font-size: 32px;
}
.tick {
  width: 18px;
}
.applyto{
	color: blueviolet;
	position: relative;
	bottom: 16px;
}
.card-body span {
  color: blueviolet;
  position: relative;
  bottom: 14px;
  left: 66px;
}
.card-title{
  margin: .75em;
  }
.card-img-top {
  width: 4em;
  margin: 0 auto;
  margin-top: 1em;
}
.noteprice{
	color: #484848;
  font-size: 10px;
  margin: 1em;
}

@media (max-width: 992px) {
	.card{
		width: auto;
		margin-bottom: 1em;
	}

}
