<div class="container">
  <div class="d-flex justify-content-start align-items-center">
    <p><strong>Error &nbsp; </strong> | &nbsp;</p>
    <p class="typeAccess"> 404 </p>
  </div>
  <div class="wrapper-target">
    <h3>Página no encontrada o de acceso restringuido</h3>
    <div class="col-xs-12 col-md-12 message-container row">
      <div class="col-xs-12 col-md-2 mx-0 text-center">
        <img src="../../../../assets/alert_404.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 row mx-0">
        <p class="col-sm-12">Compruebe que ha tecleado correctamente la dirección. Si está tratando de encontrar una
          página.</p>
      </div>
    </div>
    <ng-template #adaType></ng-template>
  </div>
</div>