<div class="modal animated fadeIn" id="modalInfo" aria-labelledby="modalInfo" [style.display]="display">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header m-3">
        <h1 class="modal-title" id="modalInfo"> {{ parameters.getValue('title') }} | <span>PACK NOVEL</span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-0">
        <form class="form-signin square-form animated fadeIn" [formGroup]="formContact">
          <div class="forn-row">
            <div class="form-row mx-3">
              <div class="form-group col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Nombre"
                  [ngClass]="{'is-invalid': formContact.get('name').touched && formContact.get('name').invalid }"
                  autocomplete="off" formControlName="name" />
                  <div class="invalid-feedback">
                    <div>El campo es obligatorio.</div>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <input type="text" name="surname" id="surname" class="form-control" placeholder="Apellido"
                  [ngClass]="{'is-invalid': formContact.get('surname').touched && formContact.get('surname').invalid }"
                  autocomplete="off" formControlName="surname" />
                <div class="invalid-feedback">
                  <div>El campo es obligatorio.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row mx-3">
            <div class="form-group col-md-6">
              <input type="mail"
                [ngClass]="{'is-invalid': formContact.get('email').touched && formContact.get('email').invalid }"
                id="email" class="form-control" placeholder="Email" formControlName="email" />
                <div class="invalid-feedback">
                    <div>El campo es obligatorio.</div>
                  </div>
            </div>
            <div class="form-group col-md-6">
              <input type="text"
                [ngClass]="{'is-invalid': formContact.get('phone').touched && formContact.get('phone').invalid }"
                id="phone" class="form-control" placeholder="Teléfono (OPCIONAL)" formControlName="phone" />
              <div class="invalid-feedback">
                <div>El campo es obligatorio.</div>
              </div>
            </div>
          </div>
          <div class="form-row mx-3">
            <div class="form-group col-md-12">
              <input type="text"
                [ngClass]="{'is-invalid': formContact.get('ce').touched && formContact.get('ce').invalid }"
                id="ce" class="form-control" placeholder="Centro Educativo" formControlName="ce" />
                <div class="invalid-feedback">
                  <div>El campo es obligatorio.</div>
                </div>
            </div>
          </div>
          <div class="form-row mx-3">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="message" rows="3" formControlName="message" placeholder="Cuéntanos..."
              [ngClass]="{'is-invalid': formContact.get('message').touched && formContact.get('message').invalid }"></textarea>
              <div class="invalid-feedback">
                  <div>El campo es obligatorio.</div>
                </div>
            </div>
          </div>
          <div class="form-group form-check mx-3">
            <input type="checkbox" class="form-check-input" id="Check"  formControlName="check"
            [ngClass]="{'is-invalid': formContact.get('check').touched && formContact.get('check').invalid }">
            <label class="form-check-label" for="Check">
              <a [routerLink]="['/politica']" target="_blanck">Política de privacidad</a></label>
              <div class="invalid-feedback">
                  <div>Acepta la Política de privacidad, por favor.</div>
              </div>
          </div>
          <div class="card-title select-btn">
              <button [disabled]="formContact.invalid" (click)="sendPack()" class="btn btn-block btn-outline-custom enviar">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>