
.modal {
  width: 100%;
	background:rgba(26, 39, 50, 0.75);
  align-items: center;
}
.modal-header {
  color:  #bd10e0;
}
.modal-dialog {
position: relative;
top:50px;

}
button.enviar {
  width: 94%;
}
a{
  color: #9d0cb9;
}
.invalid-feedback{
  color: rgb(252, 79, 79);
}

.btn-outline-custom {
  border-color: #9d0cb9;
  margin: 0 auto;
}
.btn-outline-custom:hover {
  background: #9d0cb9;
  margin: 0 auto;
  color: #f2f2f2;
}
.form-control:focus, textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #bd10e0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #bd10e036;
}
.status-text{
  font-size: 20px;
  color:  #bd10e0;
  margin: 6%;
  display: flex;
  justify-content: center;
}
.body-modal-text {
  font-size: 18px;
  text-align: center;
}
.modal-content {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
}
#modal-dialogue{
  position: relative;
  top: 100px;
  align-self: center;
}
h4{
  color: #484848;
}
.tick-image {
  width: 90px;
  display: flex;
  margin: 0 auto;
}
@media (min-width: 576px){

  .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
  }
}