<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark top-head" id="mainNav">
    <div class="container">
      <div class="navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link  text-uppercase" routerLink="/">Volver a Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="submit">
          <img src="../../assets/img/nachokids-logo_1.png" alt="" />
          <form [formGroup]="formLogin"
          (ngSubmit)="onSubmit(formLogin.value)"
          class="form-signin square-form animated fadeIn">
            <h2 class="form-signin-heading">{{ 'LOGIN.ACCESS' | translate }}</h2>
            <input type="name" id="inputUsername" class="form-control mt-3" placeholder="{{'LOGIN.NAME_PLACEHOLDER' | translate }}"
              formControlName="usuario" name="usuario"
              [ngClass]="{'is-invalid': formLogin.get('usuario').touched && formLogin.get('usuario').invalid }"
              autocomplete="off">
            <div class="invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password"
          formControlName="password"
          [ngClass]="{'is-invalid': formLogin.get('password').touched && formLogin.get('password').invalid }">
          <div class="invalid-feedback">
            <div>La contraseña es obligatoria.</div>
          </div>
          <input [disabled]="formLogin.invalid"  class="btn btn-lg btn-block" type="submit" class="btn btn-lg btn-block mt-4" value="{{'LOGIN.BUTTON' | translate }}">
        <span> Acceder, no estoy registrado: </span><a routerLink="/registerkids">Registrarme</a>
        </form>
      </div>
    </div>
    </div>
  </header>
</body>