<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark top-head" id="mainNav">
    <div class="container">
      <div class="navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link  text-uppercase" routerLink="/">Volver a Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="tap-effect">
    <div class="submit">
      <img src="../../assets/img/nachokids-logo_1.png" alt="" />
      <br>
      <h1>¿Qué edad tengo?</h1>
      <div class="d-flex justify-content-center">
        <section (click)="newprofileKids()" class="mx-3 form-signin square-form animated fadeIn">
          <!-- <h2 class="form-signin-heading">{{ 'LOGIN.ACCESS' | translate }}</!-->
          <p>8-11</p>
          <p>años</p>
        </section>
        <section (click)="newprofileTweens()"  class="mx-3 form-signin square-form animated fadeIn">
          <!-- <h2 class="form-signin-heading">{{ 'LOGIN.ACCESS' | translate }}</!-->
          <p>12-13</p>
          <p>años</p>
        </section>
        <section (click)="newprofileTeens()"  class="mx-3 form-signin square-form animated fadeIn">
          <!-- <h2 class="form-signin-heading">{{ 'LOGIN.ACCESS' | translate }}</!-->
          <p>14-15</p>
          <p>años</p>
        </section>
      </div>
    </div>
  </div>

</body>