<h3 mat-dialog-title class="titleHeader">
  <span>{{title}}</span>
  <mat-divider class="headerDivider"></mat-divider>
</h3>
<div mat-dialog-content class="dialogContent">
  <div class="contentDiv">
    <article class="first-columna">
      <div class="d-flex pb-2">
        <h2 class="form-signin-heading pro-headings">GÉNERO: </h2>
        <p class="propose">{{data.genero}}</p>
      </div>
      <div class="d-flex pb-2">
        <h2 class="form-signin-heading pro-headings">PERSONAJE: </h2>
        <p class="propose">{{data.personaje}}</p>
      </div>
      <div class="d-flex pb-2">
        <h2 class="form-signin-heading pro-headings">SUSTANTIVO: </h2>
        <p class="propose">{{data.sustantivo}}</p>
      </div>
      <div class="d-flex pb-2">
        <h2 class="form-signin-heading pro-headings">TEMA: </h2>
        <p class="propose">{{data.tema}}</p>
      </div>
      <div class="d-flex pb-2">
        <h2 class="form-signin-heading pro-headings">LUGAR: </h2>
        <p class="propose">{{data.localizacion}}</p>
      </div>
    </article>
  </div>
  <mat-divider></mat-divider>
  <div class="text-center buttonContainer">
    <button mat-button (click)="accept()" class="modal-button">CERRAR</button>
  </div>
</div>